@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    box-sizing: border-box;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-size: 18px;
}
body {
    background-color: #dbdbdb;
}
header {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 30px 0 30px;
}
.logo {
    transition: 0.5s;
}
.logo:hover {
    transform: scale(1.1);
}
ul {
    list-style: none;
    display: flex;
    gap: 30px;  
}
li a {   
    color: white;
    text-decoration: none;
}
ul li:last-child {
    transition: 0.5s;
    margin-left: 30px;
}
ul li:last-child:hover  {
    transform: scale(1.1);
}
li a:hover {
    color: #9b9b9b;
}
.banner {
    background-image: url("../img/bannerPrincipal.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 512px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner_titulo {
    color: white;
    font-size: 2rem;
}
.banner_titulo::before {
    content: "25%";
    color: #ff0004;   
}
.banner_botao {
    width: 220px;
    height: 61px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    background-color: #ff0004;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition-duration: 1s;
}
.banner_botao:hover {
    color: #ffffff;
    background-color: #0004ff;
    transform: scale(1.1);
}
.destaque {
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.destaque_titulo {
    text-align: center;
    margin-top: 20px;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    flex-direction: row;
    width: 30%;
    max-width: 265px;
    height: 322px;
    background-color: rgb(255, 255, 255);
    background: #FFFFFF;
    border-radius: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}
.card:hover {
    transform: scale(1.1);
}
.card_img {
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
    height: 60%;
}
.card_img img {
    padding-top: 5px;
    display: block;
    margin: auto;
    transform: scale(1.1);
}
.card_conteudo {
    width: 100%;
    padding: 10px 0 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.estrelas h2 {
    padding: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}
.estrela_prod {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 100px;  
}
.estrela_computador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/cadeiras.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 391px;
    height: 165px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.estrela_cadeira {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/computadores.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 391px;
    height: 165px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
footer {
    width: 100%;
    height: 216px;
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}
.footer-img1 {
    width: 183px;
    height: 40px;
}
.footer-img2 {
    display: block;
    align-items: center;
    justify-content: center;
}
.footer-texto {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #F3F3F3;
}
.sub-footer {
    display: flex;
    align-items: center;
    height: 25px;
    background: #C4C4C4;
    justify-content: center;
}
.sub-texto {
    font-size: 15px;
    font-weight: bold;
}

@media (min-width: 400px) and (max-width: 968px) {
    header {
        height: 200px;
        width: 100%;
        padding:30px;
        display: flex;
        flex-direction: column;
    }
    ul {
        font-size: 15px;
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 20px;
        gap: 20px;
    }
    li a {   
        color: white;
        text-decoration: none;
    }
    ul li:last-child {
        margin-left: 0;
    }
    .banner {
        height: 312px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner_titulo {
        font-size: 19px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
    }
    .container {
        width: 100%;
        gap: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card {
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .estrela_prod {
        background-size: cover;
        height: 500px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    footer {
        width: 100%;
        height: 180px;
        background: #222222;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        gap: 30px;
    }
}